<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Edit SongBook</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1 class="mt-4 mb-4">Edit SongBook</h1>
    <form th:action="@{/api/songbooks/{id}(id=${songbook.id})}" th:object="${songbook}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" required>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/songbooks" class="btn btn-secondary ml-2">Cancel</a>
    </form>
</div>
</body>
</html>
